<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form class="" action="index.html" method="post">
     <input type="text" name="Team Name" value="">


   </form>
 </body>
</html>
